# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su

#CMake files
/CMakeFiles
CMakeCache.txt
cmake_install.cmake
Makefile

##Project binary
onthefly

##IDE
##Don't tell me "that kind of ignored folders should be setup in ypu global git config" :)
.idea/*


